
#showMe {
  animation: cssAnimation 0s 20s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

body {
	overscroll-behavior: none; 
	background-color: #FFFFFF; 
	min-height: 100vh; 
	padding: 10px 15px 0px 15px; 
	font-family: Nanum Gothic, helvetica;

}

h1 {
	font-size: 90px; 
	text-align: center;
	padding: 20px 0px 0px 0px;
	letter-spacing: 0.5px;
	font-weight: normal;
}

p {
	 
	text-align: left;
	padding: 15px 0px 0px 0px;
	letter-spacing: 0.5px;
	font-size: 35px;
}

a:visted {
color: blue;
}

a {
	color: blue;
	background-color: #F5F5F5;
	text-decoration: none;
	outline: solid;
	padding: 10px 15px 10px 15px;
	font-weight: bold;

}

a:hover {
	color: red;
}

#proceed {
	font-size: 60px;
	text-align: center;
	margin: 30px;
}

#logo {
	text-align: left;
}
