
#showMe {
  animation: cssAnimation 0s 15s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

body {
	overscroll-behavior: none; 
	background-color: #FFFFFF; 
	min-height: 100vh; 
	padding: 10px 15px 0px 15px; 
	font-family: Nanum Gothic, helvetica;

}

h1 {
	padding-top: 20px;
	font-size: 90px; 
	text-align: center;
	padding: 50px 0px 70px 0px;
	letter-spacing: 0.5px;
	font-weight: normal;
}

p {
	 
	text-align: left;
	padding: 15px 0px 0px 0px;
	letter-spacing: 0.5px;
	font-size: 35px;
}

a:visted {
color: blue;
}

a {
	color: blue;

}

a:hover {
	font-weight: bold;
}

#proceed {
	font-size: 60px;
	text-align: center;
}

#logo {
	text-align: left;
}
